
.aaa{
    color:#228B22;
}
.PH_row{
    list-style: none;
    padding: 0px 5px 0px 5px;
    
}
.PH_cell{
    
    display: inline-block;
    text-align: center;
}

#grid {
    display: inline-block;
    padding: 0px 0px 0px 0px;
    cursor: default;
}
#container{
    display: inline-block;
    min-width: 210px;
    height: 200px;
    border: "2px";
    border: solid;
    border-color: "#CCCCCC";
    background-color: "#CCCCCC";
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
}
.btn{
    background-color: #228B22;
    display: inline-block;
    margin: 2vh 2vh 2vh 2vh;
    padding: 2px 2px 2px 2px;
    position: relative;
    border: solid;

}
#topButtons{
    background-color: #aaaaaa; 
    border: solid;
    display: inline-block;
}
