#innerWrapper{
    background: #aaaaaa;
    border: 2px solid;
    padding: 10px 10px 10px 10px;
    width: 600px;

  
}
#rowBox{
    border: 2px solid black;
    
}
#topRow{
    background: #dfc98f;
    border: 5px solid #867855;
        border-bottom: 0px;
    height: 100px;
}
#middleRow{
    background: #dfc98f;
    border: 5px solid #867855;
    border-top: 0px;
    border-bottom: 0px;
    display: inline-flex;
    margin: 0px auto 0px auto;

    position: relative;
    
}
#bottomRow{
    background: #dfc98f;
    border: 5px solid #867855;
    border-top: 0px;
    width: 566px;
    height: 100px;
    margin: 0px 0px 0px 0px;

}
#leftCol{
    display: inline-block;
    height: 400px;
    width: auto;
    text-align: center;
    margin: 5px 5px 5px 5px;

}
#midCol{
    display: inline-block;
    height: 400px;
    width: auto;
    margin: 5px 5px 5px 5px;
    position: relative;

}
#rightCol{

    display: inline-block;
    height: 400px;
    width: auto;

}
#infoBox{
    border: 2px solid black;
    width: 125px;
    height: 156px;
    margin: 5px 5px 5px 5px;
}
#towerBtns{

}
#towerUtilBtns{
    width: auto;
    margin: 5px 5px 5px 5px;

}


/* CSS Document */
a.button{
    display: block;
    float: left;
    color: aqua;
    background-color: blue;
}
sellbutton.button{
    width: 290px;
}
.controls
{
 
    font-size: 1em;
    font-weight: 700
    
}
.pageTitle{
    font-size: 3em;
    font-weight: 700;
    text-transform: uppercase;
    color: #0051ae
}
.button{

    text-align: center;
    text-decoration: none;
    font-size: 12px;
    padding: 1px 10px 1px 10px;
    width: 130px;

    cursor: pointer;

}

.upgrade{
    background-color: rgb(155, 155, 155);
    border: none;
    color: white;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 8px 1px;
    cursor: pointer;
    
}
.restart{
    background-color: rgb(126, 14, 14);
    border: none;
    color: white;


    text-align: center;
    text-decoration: none;
    font-size: 16px;

    margin: 20px 0px 20px 0px;

}
.restart:active
{
    background-color: rgb(126, 14, 14);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.container
{
    color: #27558a;
}
.b1{
    background-color: #4CAF50;
    color: white;
    border: none;
    
    text-align: center;
    font-size: 16px;

}
.b1:hover:not(.active)
{
    background-color: #ddd;
}
.button:hover:not(.active)
{
    background-color: #ddd;
    
}
