#wrapper {
    width: 600px;
    height: 600px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -300px;
    margin-top: -300px;
}

#innerWrapper {
    background: rgb(223, 201, 143);
    background: radial-gradient(circle, rgba(223, 201, 143, 1) 0%, rgba(217, 185, 100, 1) 100%);
    border: 2px solid;
    padding: 10px 10px 10px 10px;
    width: 614px;
}

#rowBox {
    border: 2px solid black;
}

#topRow {
    border: 5px solid #867855;
    border-bottom: 0px;
    height: 100px;
    width: auto;
    text-align: center;
}

#middleRow {
    border: 5px solid #867855;
    border-top: 0px;
    border-bottom: 0px;
    margin: 0px auto 0px auto;
    width: auto;
    height: 400px;
    position: relative;
}

#bottomRow {
    border: 5px solid #867855;
    border-top: 0px;
    width: auto;
    height: 20px;
    margin: 0px 0px 0px 0px;
}

#leftCol {
    float: left;
    height: 400px;
    width: 160px;
    text-align: center;
    margin: 5px 5px 5px 5px;
    border: 5px solid #867855;
    background: rgb(134, 120, 85);
    background: linear-gradient(180deg, rgba(134, 120, 85, 1) 0%, rgba(94, 85, 60, 1) 100%);
}

#midCol {
    float: left;
    height: 402px;
    width: 402px;
    margin: 5px 5px 5px 5px;
    position: relative;
    border: 4px solid #867855;
}

#rightCol {
    float: left;
    height: 402px;
    width: auto;
}

#infoBox {
    border: 4px solid #867855;
    background: #dfc98f;
    width: 140px;
    height: 215px;
    margin: 5px 5px 5px 5px;
    padding: 5px 0px 0px 0px;
}

#towerBtns {
    margin: 10px 5px 5px 5px;
}

#towerUtilBtns {
    width: auto;
    margin: 10px 5px 0px 5px;
}

#gameUtilBtns {
    width: auto;
    margin: 10px 5px 5px 5px;
    color: rgb(126, 14, 14);
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 15px 0px 20px 0px;
}

/* CSS Document */

.button {
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    padding: 1px 10px 1px 10px;
    width: 118px;
    cursor: pointer;
    position: relative;
}

a.button {
    display: block;
    float: left;
    color: aqua;
    background-color: blue;
}

.controls {
    font-size: 1em;
    font-weight: 700
}

#pageTitle {
    font-size: 3em;
    font-weight: 700;
    text-transform: uppercase;
    color: #52472b
}

.upgrade {
    background-color: rgb(155, 155, 155);
    border: none;
    color: white;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 8px 1px;
    cursor: pointer;
}

/* .restart {
    background-color: rgb(126, 14, 14);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 20px 0px 20px 0px;
}

.restart:active {
    background-color: rgb(126, 14, 14);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
} */

.container {
    color: #27558a;
}

.b1 {
    background-color: #4CAF50;
    color: white;
    border: none;
    text-align: center;
    font-size: 16px;
}

.b1:hover:not(.active) {
    background-color: #ddd;
}

.button:hover:not(.active) {
    background-color: #ddd;
}