#wrapper {
    float: left;
    width: 760px;
    height: 600px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -400px;
    margin-top: -300px;
    background: #111;
}

#innerWrapper {
    background: rgb(223, 201, 143);
    background: linear-gradient(180deg, rgba(223, 201, 143, 1) 0%, rgba(217, 185, 100, 1) 100%);
    border: 2px solid;
    padding: 10px 10px 10px 10px;
    width: 790px;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.377);
}

#rowBox {
    border: 2px solid black;
}

#topRow {
    border: 5px solid #867855;
    border-bottom: 0px;
    height: 100px;
    width: auto;
    text-align: center;
}

#middleRow {
    border: 5px solid #867855;
    border-top: 0px;
    margin: 0px auto 0px auto;
    width: auto;
    height: 420px;
    position: relative;
}

#bottomRow {
    border: 5px solid #867855;
    border-top: 0px;
    width: auto;
    height: 150px;
    margin: 0px 0px 0px 0px;
}

#leftCol {
    float: left;
    height: 400px;
    width: 158px;
    text-align: center;
    margin: 5px 5px 5px 5px;
    border: 5px solid #867855;
    background: rgb(134, 120, 85);
    background: linear-gradient(180deg, rgba(134, 120, 85, 1) 0%, rgba(94, 85, 60, 1) 100%);
}

#midCol {
    float: left;
    height: 400px;
    width: 400px;
    margin: 5px 5px 5px 5px;
    position: relative;
    border: 5px solid #867855;
}

#rightCol {
    float: left;
    height: 400px;
    width: 158px;
    text-align: center;
    margin: 5px 5px 5px 5px;
    border: 5px solid #867855;
    background: rgb(134, 120, 85);
    background: linear-gradient(180deg, rgba(134, 120, 85, 1) 0%, rgba(94, 85, 60, 1) 100%);
}

#infoBox {
    border: 4px solid #867855;
    background: #dfc98f;
    width: 140px;
    height: 104px;
    margin: 3px 5px 5px 5px;
    padding: 5px 0px 0px 0px;
}

#towerBtns {
    margin: 5px 5px 5px 5px;
}

#towerBtnsRow {
    display: block;
    border: 4px solid #867855;
    background: #dfc98f;
    width: 140px;
    height: 70px;
    padding: 5px 0px 0px 0px;
}

#canvas {
    position: relative;
}

#popupScreen {
    width: 340px;
    height: 115px;
    margin: 122px 20px 0px 20px;
    padding: 7px;
    background: #dfc98f;
    border: 2px solid black;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.61);
    text-align: center;
    position: absolute;
    z-index: 1;
    font-size: 28px;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
 }

@-webkit-keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
 }

#popupScreenInner {
    float: left;
    width: 336px;
    height: 112px;
    border: 2px black solid;
    background: rgb(223, 201, 143);
    background: linear-gradient(180deg, rgba(223, 201, 143, 1) 0%, rgba(217, 185, 100, 1) 100%);
}

#popup {
    margin: 20px 0 0 0;
    font: 30px;
    font-weight: bold;
}

#popupButtons {
    margin: 10px 0px 10px 0px;
}

.popupBtns {
    float: left;
    width: 128px;
    height: 28px;
}

#popupRestartBtn {
    margin: 10px 10px 20px 30px;
}

#popupMenuBtn {
    margin: 10px 30px 20px 10px;
}

#skillTree {
    display: block;
    border: 4px solid #867855;
    background: #dfc98f;
    width: 385px;
    height: 380px;
    padding: 5px 0px 0px 0px;
}

#shop {
    display: block;
    border: 4px solid #867855;
    background: #dfc98f;
    width: 385px;
    height: 70px;
    padding: 5px 0px 0px 0px;
}

#tooltipBoxWrapper {
    width: auto;
    margin: 10px 5px 0px 5px;
}

#tooltipBox {
    display: inline-block;
    border: 4px solid #867855;
    background: #dfc98f;
    width: 140px;
    height: 130px;
    margin: 0px 5px 0px 5px;
    border-bottom: 0px;
}

#towerUtilBtns {
    align-content: center;
    display: block;
    border: 4px solid #867855;
    background: #dfc98f;
    width: 140px;
    height: 40px;
    margin: 0px 5px 0px 5px;
    border-top: 0px
}

#waveInfo {
    width: 140px;
    height: 285px;
    max-width: 140;
    text-align: center;
    margin: 5px;
    padding: 5px 0px 0px 0px;
    background: #dfc98f;
    border: 4px solid #867855;
}

#gameUtilBtns {
    align-content: center;
    display: block;
    border: 4px solid #867855;
    background: #dfc98f;
    width: 140px;
    height: 79px;
    margin: 0px 5px 0px 5px;
    /* width: 138px;
    height: 20px;
    margin: 10px 5px 5px 5px;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 20px 0px 20px 0px; */
}

#laserTowerInfo, #shockTowerInfo, #slowTowerInfo, #enemyInfo, #pausedNotif {
    height: 120px;
    width: 131px;
    max-width: 140;
    text-align: center;
    margin: 5px;
    background: #dfc98f;
}

#pausedNotif {
    font-size: 33px;
    font-style: oblique;
    color: red;
    font-weight: bold;
}

#laserTowerPic {
    width: 36px;
    height: 36px;
    background: url('towers.gif') 0px 0px;
    cursor: pointer;
}

#shockTowerPic {
    width: 38px;
    height: 38px;
    background: url('towers.gif') -38px 0px;
    cursor: pointer;
}

#slowTowerPic {
    width: 38px;
    height: 38px;
    background: url('towers.gif') -76px 0px;
    cursor: pointer;
}

#laserTowerPic:hover {
    background: url('towers.gif') 0px -38px;
}

#shockTowerPic:hover {
    background: url('towers.gif') -38px -38px;
}

#slowTowerPic:hover {
    background: url('towers.gif') -76px -38px;
}

/* CSS Document */

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #36301f;
    color: #FFF;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    margin-left: -60px;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #36301f transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.gameInfoDivs {
    position: absolute;
    text-align: left;
}

.test {
    background-color: rgb(0, 65, 150);
}

.button {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    width: 139px;
    height: 19px;
    cursor: pointer;
}

.utilbutton {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    width: 139px;
    height: 19px;
    cursor: pointer;
}

#pageTitle {
    font-size: 3em;
    font-weight: 700;
    text-transform: uppercase;
    color: #52472b
}

.sellBtn, .upgradeBtn {
    float: left;
    width: auto;
}

/* Skill tree shit */

#laserTowerST {
    width: 36px;
    height: 36px;
    background: url('towers.gif') 0px 0px;
    cursor: pointer;
    float: left;
    margin: 0px 50px 50px 80px;
}

#shockTowerST {
    width: 38px;
    height: 38px;
    background: url('towers.gif') -38px 0px;
    cursor: pointer;
    float: left;
    margin: 0px 50px 50px 0px;
}

#slowTowerST {
    width: 38px;
    height: 38px;
    background: url('towers.gif') -76px 0px;
    cursor: pointer;
    float: left;
    margin: 0px 50px 50px 0px;
}


#welcomeInnerWrapper {
    position: absolute;
    background: rgb(223, 201, 143);
    background: radial-gradient(circle, rgba(223, 201, 143, 1) 0%, rgba(217, 185, 100, 1) 100%);
    border: 2px solid;
    width: 400px;
    height: 269px;
    left: 50%;
    top: 50%;
    margin-left: -160px;
    margin-top: -170px;
    z-index: 1;
    
}
#welcome{
    width: 385px;
    height: 130px;
    border: 5px solid #52472b;
    margin: 3px 3px 0px 3px;
    border-bottom: 0px;

    text-align: center;
}
#welcomeText{
    font-size: 30px;
    margin: 10px 0px 5px 0px;
    
}
#welcomeTitle{
    font-size: 35px;
    margin: 15px 0px 10px 0px;

}
#welcomeInfo{
    width: 385px;
    margin: 0px 3px 0px 3px;
    border: 5px solid #52472b;
    border-top: 0px;
    border-bottom: 0px;
    text-align: center;
}
#instructions{
    font-size: 20px;
}
#welcomeBtns{
    width: 385px;
    height: 100px;
    border: 5px solid #52472b;
    border-top: 0px;

    margin: 0px 3px 0px 3px;
    text-align: center;

}

#boxs:after {

    content: "";
    display: table;
    clear: both;

}
.BoxColumn
{
    background-color: rgb(206, 114, 38);
    border: 2px solid black;
    float: left;
    width: 250px;
    padding: 0px;
    height: 300px;
    margin: 5px;
    border-color: black;
    align-content: center;
    transition: .1s ease;
    text-decoration: none;
    color: black;


}


.menuBtn
{
    margin: 35px 10px 20px 10px;
    font-size: 18pt;
    width: 149px;
    cursor: pointer;
}
h2{

    font-size: 20pt;
    text-align: center;
}

#Easy img{
    position: relative;
    left: 10px;
}
#Medium img{
    position: relative;
    left: 25px;
}
#menuText{
    float:left;

    text-align: center;
    font: 30px;
}
#wrapper{

    background: rgb(223, 201, 143);
    background: radial-gradient(circle, rgba(223, 201, 143, 1) 0%, rgba(217, 185, 100, 1) 100%);
}
#newGameWrapper{
    float: left;
    width: 825px;
    height: 440px;
    position: absolute;
    padding: 5px;
    border: 2px solid black;

    left: 50%;
    top: 50%;
    margin-left: -370px;
    margin-top: -250px;    
    background: rgb(223, 201, 143);
    background: radial-gradient(circle, rgba(223, 201, 143, 1) 0%, rgba(217, 185, 100, 1) 100%);
    /* box-shadow: 5px 5px rgba(0, 0, 0, 0.596); */
}
#Easy, #Medium, #Hard{
    margin: 5px;
    float: left;
    width: 265px;
    height: 315px;
    /* background: rgba(0, 0, 0, 0.397); */
    /* box-shadow: 5px 5px rgba(0, 0, 0, 0.596); */
}
#Easy{
    background:  rgba(86, 165, 59, 0.623);
}
#Medium{

    background: rgba(46, 132, 189, 0.747);
}
#Hard{
    background: rgba(177, 82, 37, 0.685);
}
#Easy:hover{
    border-color: rgb(0, 0, 0);
    box-shadow: 0 0 35px 3px rgba(39, 90, 22, 0.884);
    cursor: default;
}
#Medium:hover{
    border-color: rgb(0, 0, 0);
    box-shadow: 0 0 35px 3px rgba(0, 81, 139, 0.884);;
    cursor: default;
}
#Hard:hover{
    border-color: rgb(0, 0, 0);
    box-shadow: 0 0 35px 3px rgba(151, 48, 0, 0.884);
    cursor: default;
}

#diffButtons{
    float:left;
    position: relative;
    /* background: rgba(0, 0, 0, 0.534); */
    
}
#diffTitle{
    margin: 30px;
    text-align: center;
    font-size: 50px;

}
#mapButtons{
    width:820px;
    align-content: center;
    float:left;
    position: relative;
}

#forestMap, #beachMap, #lavaMap{
    float: left;
    position: relative;
    margin: 5px;
    width: 200px;
    height: 200px;
    margin:  15px 25px 0px 25px;
    background: #111;
    cursor: pointer;


}
#forestMap{
    margin: 15px 25px 0px 40px;
}
#lavaMap{
    margin: 15px 40px 0px 40px;
}
#forestMapPic, #beachMapPic, #lavaMapPic{
    border: 5px solid #52472b;
    width: 100%;
    height: 100%;
}