#wrapper {
    width: 760px;
    height: 600px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -400px;
    margin-top: -300px;
}

#innerWrapper {
    background: rgb(223, 201, 143);
    background: radial-gradient(circle, rgba(223, 201, 143, 1) 0%, rgba(217, 185, 100, 1) 100%);
    border: 2px solid;
    padding: 10px 10px 10px 10px;
    width: 794px;
}

#rowBox {
    border: 2px solid black;
}

#topRow {
    border: 5px solid #867855;
    border-bottom: 0px;
    height: 100px;
    width: auto;
    text-align: center;
}

#middleRow {
    border: 5px solid #867855;
    border-top: 0px;
    margin: 0px auto 0px auto;
    width: auto;
    height: 420px;
    position: relative;
}

#bottomRow {
    border: 5px solid #867855;
    border-top: 0px;
    width: auto;
    height: 150px;
    margin: 0px 0px 0px 0px;
}

#leftCol {
    float: left;
    height: 400px;
    width: 158px;
    text-align: center;
    margin: 5px 5px 5px 5px;
    border: 5px solid #867855;
    background: rgb(134, 120, 85);
    background: linear-gradient(180deg, rgba(134, 120, 85, 1) 0%, rgba(94, 85, 60, 1) 100%);
}

#midCol {
    float: left;
    height: 402px;
    width: 402px;
    margin: 5px 5px 5px 5px;
    position: relative;
    border: 4px solid #867855;
}

#rightCol {
    float: left;
    height: 400px;
    width: 156px;
    text-align: center;
    margin: 5px 5px 5px 5px;
    border: 5px solid #867855;
    background: rgb(134, 120, 85);
    background: linear-gradient(180deg, rgba(134, 120, 85, 1) 0%, rgba(94, 85, 60, 1) 100%);
}

#infoBox {
    border: 4px solid #867855;
    background: #dfc98f;
    width: 140px;
    height: 104px;
    margin: 3px 5px 5px 5px;
    padding: 5px 0px 0px 0px;
}

#towerBtns {
    margin: 5px 5px 5px 5px;
}

#towerBtnsRow {
    display: block;
    border: 4px solid #867855;
    background: #dfc98f;
    width: 140px;
    height: 70px;
    padding: 5px 0px 0px 0px;
}

#tooltipBoxWrapper {
    width: auto;
    margin: 10px 5px 0px 5px;
}

#tooltipBox {
    display: inline-block;
    border: 4px solid #867855;
    background: #dfc98f;
    width: 140px;
    height: 130px;
    margin: 0px 5px 0px 5px;
    border-bottom: 0px;
}

#towerUtilBtns {
    align-content: center;
    display: block;
    border: 4px solid #867855;
    background: #dfc98f;
    width: 140px;
    height: 40px;
    margin: 0px 5px 0px 5px;
    border-top: 0px
}

#waveInfo {
    width: 138px;
    height: 285px;
    max-width: 140;
    text-align: center;
    margin: 5px;
    padding: 5px 0px 0px 0px;
    background: #dfc98f;
    border: 4px solid #867855;
}

#gameUtilBtns {
    align-content: center;
    display: block;
    border: 4px solid #867855;
    background: #dfc98f;
    width: 140px;
    height: 79px;
    margin: 0px 5px 0px 5px;

    /* width: 138px;
    height: 20px;
    margin: 10px 5px 5px 5px;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 20px 0px 20px 0px; */
}

#laserTowerInfo, #shockTowerInfo, #slowTowerInfo, #enemyInfo, #pausedNotif {
    height: 120px;
    width: 131px;
    max-width: 140;
    text-align: center;
    margin: 5px;
    background: #dfc98f;
}

#pausedNotif{
    font-size: 33px;
    font-style: oblique;
    color: red;
    font-weight: bold;

}
#laserTowerPic {
    width: 36px;
    height: 36px;
    background: url('towers.gif') 0px 0px;
    cursor: pointer;
}

#shockTowerPic {
    width: 38px;
    height: 38px;
    background: url('towers.gif') -38px 0px;
    cursor: pointer;
}

#slowTowerPic {
    width: 38px;
    height: 38px;
    background: url('towers.gif') -76px 0px;
    cursor: pointer;
}

#laserTowerPic:hover {
    background: url('towers.gif') 0px -38px;
}

#shockTowerPic:hover {
    background: url('towers.gif') -38px -38px;
}

#slowTowerPic:hover {
    background: url('towers.gif') -76px -38px;
}

/* CSS Document */

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #36301f;
    color: #FFF;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    margin-left: -60px;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #36301f transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.gameInfoDivs {
    position: absolute;
    text-align: left;
}

.test {
    background-color: rgb(0, 65, 150);
}

.button {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    width: 139px;
    height: 19px;
    cursor: pointer;
}
.utilbutton {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    width: 139px;
    height: 19px;
    cursor: pointer;
}

#pageTitle {
    font-size: 3em;
    font-weight: 700;
    text-transform: uppercase;
    color: #52472b
}

.sellBtn, .upgradeBtn {
    float: left;
    width: auto;
}