.mapzone {
    background-color: #FFFFFF;
    border: black;
    border-width: 5px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 15px;
    height: 15px;
  }
.canvas{
    float: left;
    margin-right: 10px;
    fill: #228B22;
}
.aaa{
    color:#228B22;
}
.PH_row{
    list-style: none;
    padding: 0 0 0 0;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 0;
}
.PH_cell{
    
    display: inline-block;
    text-align: center;
}
#grid, #mapgrid {
    width: 100%;
    height: 100%;
    color: black;
    background: rgba(209, 143, 143, 0.25);
    text-align: left;
	list-style: none;
	padding-left: 0;
	cursor: default;
}